In [1]:
import pandas as pd

#text
import nltk
from nltk.stem.porter import PorterStemmer

#sklearn
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [14]:
nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

In [2]:
df = pd.read_csv('spotify_millsongdata.csv')
df.head()

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [3]:
print(f"Shape: {df.shape}")
print(f"Nulls: \n{df.isnull().sum()}")

Shape: (57650, 4)
Nulls:
artist    0
song      0
link      0
text      0
dtype: int64

In [4]:
df = df.drop('link', axis=1).reset_index(drop=True)
df.head()

,artist,song,text
0,ABBA,Ahe's My Kind Of Girl,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante","Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,Making somebody happy is a question of give an...

In [5]:
df = df.sample(5000)

## Text preprocesing

In [6]:
df.text = df.text.str.lower().replace(r'\W\s', ' ').replace(r'\n', ' ', regex=True)
df.head()

,artist,song,text
2883,Christina Aguilera,Change,"when i was young, i would look in the mirror ..."
4841,Elton John,Believe,"i believe in love, it's all we got \r love ha..."
20547,Van Morrison,Cold Wind In August,i waited for you \r you waited for me \r tha...
18458,Santana,Written In Sand,your eyes are the color of the sea \r you loo...
2880,Christina Aguilera,By Your Side,so if you call my name \r you know my heart y...

In [7]:
stemmer = PorterStemmer()

In [11]:
def token(txt):
    token = nltk.word_tokenize(txt)
    a = [stemmer.stem(w) for w in token]
    return " ".join(a)

In [15]:
token('you are beautiful')

'you are beauti'

In [16]:
df.text.apply(lambda x: token(x))

2883     when i wa young , i would look in the mirror d...
4841     i believ in love , it 's all we got love ha no...
20547    i wait for you you wait for me that it seem li...
18458    your eye are the color of the sea you look my ...
2880     so if you call my name you know my heart you c...
                               ...
40728    alabama man ! alabama man ! hey ho ! alabama m...
1731     love live in new york citi he got a place off ...
38863    i walk through the citi limit , someon talk me...
25217    summer night in harlem , man it 's realli hot ...
52939    i never realli understood religion except it s...
Name: text, Length: 5000, dtype: object